*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(wolffamily.jpg);
    width: 100%;
}

.Menu-Bar {
    height: 11%;
    width: 100%;
    background-color: midnightblue;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Graduate" , sans-serif;
    position: fixed;
    top: 0;

}

.Logo {
    width: 150px;
    height: 150px;
    margin-top: 80px;
    margin-left: 20px;
}

h2 {
    color: gold;
    font-size: 30px;
    transition: 0.6s;
   
}

h2:hover {
    color:yellow;
    transform: scale(1.1);
}


.Menu-Bar ul {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.Menu-Bar li :hover{
    margin: 12px;
    padding: 12px;
    background: purple;
    border-radius: 10px;
    
}

a {
    color: turquoise;
    text-decoration: none;
    transition: 0.6s;
}

.message {
    width: 75%;
    margin: auto;
    margin-top: 10%;
    padding: 35px;
    margin-bottom: 10%;
    border: 2px solid gray;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    font-size: 16px; 
    color: midnightblue;
    font-family: 'Montserrat', sans-serif;
    
}

label, input {
    display: block;
}

label {
    margin-bottom: 8px;
}

select {
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 15px;
}

h1 {
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 12px;
}


button {
    width: 70px;
    font-size: 16px;
    padding: 3px;
    margin-top: 2px;
    color: midnightblue;
}

hr{
    height: 1px;
    margin-bottom: 5px;
    margin-top: 8px;
    background-color: goldenrod;
    border: none;
}

.Footer {
    width: 100%;
    height: 45px;
    margin-top: 3%;
    bottom: 0px;
    left: 0px;
    color: whitesmoke;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer h3 {
    color: gold;
    font-family: "Graduate" , sans-serif;
    margin-right: 30px;
}